.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-300);
  opacity: 0.9;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 2rem 2rem 0.5rem 0;
  cursor: pointer;
  position: relative;
}

.svg {
  width: 5rem;
  height: 5rem;
}

.content {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  z-index: 2;
}

.children {
  display: flex;
  justify-content: center;
}
