.container {
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.default {
  border: 0.1rem solid var(--primary-300);
  background-color: var(--primary-200);
  color: var(--primary-400);
}

.danger {
  border: 0.1rem solid var(--danger-400);
  background-color: var(--danger-100);
  color: var(--danger-400);
}
