.app {
  height: 100%;
  background-color: var(--primary-100);
}

.main {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: var(--primary-100);
}

.gridContainer {
  width: 1000px;
}

.pagination {
  margin-top: 4rem;
}
