:root {
  --primary-100: #f5f4ff;
  --primary-100-rgb: 245, 244, 255;
  --primary-200: #dddaff;
  --primary-200-rgb: 221, 218, 255;
  --primary-300: #b5aeff;
  --primary-300-rgb: 181, 174, 255;
  --primary-400: #968cff;
  --primary-400-rgb: 150, 140, 255;
  --primary-500: #7c72e2;
  --primary-600: #5e58a5;
  --primary-700: #473e6b;
  --white: #fff;
  --danger: #e96980;
  --success: #7cc360;
  --text-primary: #2962ff;
  --text-secondary: #448aff;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}
